<div class="card">
    <div class="card-body">
        <h3>خوش آمدید!</h3>
        <p>
            برای دسترسی به پنل مدیریت، از طریق
            <a asp-area="" asp-controller="Authentication" asp-action="SignIn">صفحه ورود</a>
            به حساب کاربری خود وارد شوید.
        </p>
    </div>
</div>