@{
    ViewData["Title"] = "قرارداد";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div>
                    <h4><i class="fa fa-truck-ramp-box me-1"></i> مصالح</h4>
                </div>
                <div>
                    <button class="btn btn-sm btn-primary">+ جدید</button>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-borderless table-striped table-hover">
                    <thead>
                        <tr>
                            <th>نوع</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>سیمان</td>
                        </tr>
                        <tr>
                            <td>آجر</td>
                        </tr>
                        <tr>
                            <td>شن</td>
                        </tr>
                        <tr>
                            <td>ماسه</td>
                        </tr>
                        <tr>
                            <td>گچ</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

