@font-face {
    font-family: "Dirooz";
    src: url("webfonts/Dirooz-FD.eot")
}
@font-face {
    font-family: "Dirooz";
    src: url("webfonts/Dirooz-FD.ttf")
}
@font-face {
    font-family: "Dirooz";
    src: url("webfonts/Dirooz-FD.woff")
}
@font-face {
    font-family: "Dirooz";
    src: url("webfonts/Dirooz-FD.woff2")
}
