@import '../fonts/dirooz/dirooz.css';

html, body {
    position: relative;
    height: 100%;
    min-height: 100vh;
    overflow-x: clip;
    font-family: "Dirooz";
}

/* Bootstrap costumize */
body {
    --bs-body-font-family: "Dirooz";
}

.tooltip {
    font-family: "Dirooz";
}

body[data-bs-theme="light"] [data-theme="light"] {
    display: none;
}

body[data-bs-theme="dark"] [data-theme="dark"] {
    display: none;
}

[data-bs-theme=dark],
[data-bs-theme=dark] .table {
    --bs-body-color: #cdd6cf !important;
    --bs-table-color: #cdd6cf !important;
}

:root {
    --bs-border-radius: 0.8rem;
    --bs-border-radius-sm: 3rem;
    --bs-border-radius-lg: 1rem;
    --bs-border-radius-xl: 1.5rem;
    --bs-border-radius-xxl: 2rem;
}

/* Utilities */

.floating-hover:hover .floating-hover-child {
    opacity: 1;
}

.floating-hover-child {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}
