@import '../fonts/dirooz/dirooz.css';

html, body {
    position: relative;
    min-height: 100vh;
    overflow-x: clip;
    font-family: "Dirooz";
}

hr {
    border-color: #7e7e7ede;
}

small, .small {
    font-size: .80em;
}

.scrollable {
    max-height: 70vh;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 9px
}

::-webkit-scrollbar-thumb {
    background: #c8cbcf
}

    ::-webkit-scrollbar-thumb:hover {
        background: #babec4
    }

::-webkit-scrollbar-track {
    background: var(--bs-body-bg)
}
/* Bootstrap costumize */
body {
    --bs-body-font-family: "Dirooz";
}

.tooltip {
    font-family: "Dirooz";
}

body[data-bs-theme="light"] [data-theme="light"] {
    display: none;
}

body[data-bs-theme="dark"] [data-theme="dark"] {
    display: none;
}

[data-bs-theme=dark],
[data-bs-theme=dark] .table {
    --bs-body-color: #cdd6cf !important;
    --bs-table-color: #cdd6cf !important;
}

:root, [data-bs-theme=light] {
    --bs-border-radius: 0.8rem;
    --bs-border-radius-sm: 3rem;
    --bs-border-radius-lg: 1rem;
    --bs-border-radius-xl: 1.5rem;
    --bs-border-radius-xxl: 2rem;
    --bs-card-border-radius: 0.8rem;
}


/* Utilities */

.floating-hover:hover .floating-hover-child {
    opacity: 1;
}

.floating-hover-child {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.placeholder-text-right::placeholder {
    text-align: right;
}

.placeholder-text-left::placeholder {
    text-align: left;
}


/* CUSTOM */
.lists-container {
    display: flex;
    align-items: start;
    padding: 0 0.8rem 0.8rem;
    overflow-x: auto;
    height: calc(100vh - 8.6rem);
}

.list {
    flex: 0 0 27rem;
    display: flex;
    flex-direction: column;
    background-color: #e2e4e6;
    max-height: calc(100vh - 11.8rem);
    border-radius: 0.3rem;
    margin-right: 1rem;
}

.list-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: start;
    padding: 0 0.6rem 0.5rem;
    overflow-y: auto;
}


    .list-items::-webkit-scrollbar-thumb {
        background-color: #c4c9cc;
        border-right: 0.6rem solid #e2e4e6;
    }



.add-card-btn {
    display: block;
    color: #838c91;
    padding: 1rem;
    cursor: pointer;
}