
@{
    ViewData["Title"] = "خدمات";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="scrollable">
            <table class="table table-borderless table-striped table-hover">
                <thead>
                    <tr>
                        <th>عنوان</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>کارگر</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
