
@{
    ViewData["Title"] = "Board";
}
<div class="lists-container" style="background:#ddd;">
    <div class="list">
        <div class="card-header">
            <h4>اداری</h4>
        </div>
        <ul class="list-items">
            <li class="d-flex justify-content-between py-4">
                <div>مصالح</div>
                <div>38,000,000</div>
            </li>
            <li class="d-flex py-4">پیمانکاران</li>
            <li class="d-flex py-4">خرج کرد</li>
        </ul>
        <button class="add-card-btn btn text-start">مورد جدید...</button>
    </div>
    <div class="list">
        <div class="card-header">
            <h4>اداری</h4>
        </div>
    </div>
    <div class="list">
        <div class="card-header">
            <h4>اداری</h4>
        </div>
    </div>
    <div class="list">
        <div class="card-header">
            <h4>اداری</h4>
        </div>
    </div>
    <div class="list">
        <div class="card-header">
            <h4>اداری</h4>
        </div>
    </div>
    <div class="list">
        <div class="card-header">
            <h4>اداری</h4>
        </div>
    </div>
    <div class="list">
        <div class="card-header">
            <h4>اداری</h4>
        </div>
    </div>
    <div class="list">
        <div class="card-header">
            <h4>اداری</h4>
        </div>
    </div>
</div>