@model IEnumerable<ContractorDocuments.WebUI.Areas.Admin.Models.Projects.ProjectThumbnailViewModel>
@{
    ViewData["Title"] = "پروژه ها";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div>
                    <h4><i class="fa fa-building-memo me-1"></i> پروژه ها</h4>
                </div>
                <div class="card-tools">
                    <a asp-area="Admin" asp-controller="Project" asp-action="AddOrEdit" class="btn btn-sm btn-primary">+ جدید</a>
                    @* <button class="btn btn-sm btn-primary" type="button">+ جدید</button> *@
                </div>
            </div>
            <div class="card-body">
                <div class="scrollable">
                    <table class="table table-borderless table-striped table-hover">
                        <thead>
                            <tr class="sticky-top">
                                <th>عنوان</th>
                                <th>نوع پروژه</th>
                                <th>تاریخ شروع</th>
                                <th>تاریخ تحویل</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count() > 0)
                            {
                                foreach (var project in Model)
                                {
                                    <tr class="floating-hover">
                                        <td>@project.Title</td>
                                        <td>@project.ProjectType</td>
                                        <td>@project.StartOn</td>
                                        <td>@project.EndOn</td>
                                        <td>
                                            <div class="floating-hover-child">
                                                <a href="/Admin/Project/Board/@project.Id" class="btn btn-sm"><i class="fa fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="text-center text-muted" colspan="5">موردی یافت نشد!</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>