@{
    ViewData["Title"] = "پروژه ها";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div>
                    <h4><i class="fa fa-building-memo me-1"></i> پروژه ها</h4>
                </div>
                <div class="card-tools">
                    <button class="btn btn-sm btn-primary" type="button">+ جدید</button>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-borderless table-striped table-hover">
                    <thead>
                        <tr>
                            <th>وضعیت</th>
                            <th>عنوان</th>
                            <th>تاریخ شروع</th>
                            <th>تاریخ تحویل</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="floating-hover">
                            <td class="text-warning">درحال انجام</td>
                            <td>پروژه نمونه 2</td>
                            <td>15 خرداد 1403</td>
                            <td>15 خرداد 1403</td>
                            <td>
                                <div class="floating-hover-child">
                                    <button class="btn btn-sm"><i class="fa fa-eye"></i></button>
                                </div>
                            </td>
                        </tr>
                        <tr class="floating-hover">
                            <td class="text-warning">درحال انجام</td>
                            <td>پروژه نمونه 2</td>
                            <td>2 فردروین 1403</td>
                            <td>2 فردروین 1403</td>
                            <td>
                                <div class="floating-hover-child">
                                    <button class="btn btn-sm"><i class="fa fa-eye"></i></button>
                                </div>
                            </td>
                        </tr>
                        <tr class="floating-hover">
                            <td class="text-success">تکمیل</td>
                            <td>پروژه نمونه 3</td>
                            <td>8 بهمن 1402</td>
                            <td>8 بهمن 1402</td>
                            <td>
                                <div class="floating-hover-child">
                                    <button class="btn btn-sm"><i class="fa fa-eye"></i></button>
                                </div>
                            </td>
                        </tr>
                        <tr class="floating-hover">
                            <td class="text-success">تکمیل</td>
                            <td>پروژه نمونه 4</td>
                            <td>23 دی 1402</td>
                            <td>23 دی 1402</td>
                            <td>
                                <div class="floating-hover-child">
                                    <button class="btn btn-sm"><i class="fa fa-eye"></i></button>
                                </div>
                            </td>
                        </tr>
                        <tr class="floating-hover">
                            <td class="text-success">تکمیل</td>
                            <td>پروژه نمونه 5</td>
                            <td>6 تیر 1402</td>
                            <td>6 تیر 1402</td>
                            <td>
                                <div class="floating-hover-child">
                                    <button class="btn btn-sm"><i class="fa fa-eye"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>