
@{
    ViewData["Title"] = "قرارداد ها";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th>عنوان</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>مشارکت در ساخت</td>
                            <td>مدیریت پیمان</td>
                            <td>پیمان کاری صفر تا صد</td>
                            <td>دستمزدی یا اجرتی</td>
                            <td>خصوصی سازی</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>