@{
    ViewData["Title"] = "قرارداد ها";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div>
                    <h4><i class="fa fa-file-contract me-1"></i> قرارداد ها</h4>
                </div>
                <div class="card-tools">
                    <button class="btn btn-sm btn-primary" type="button">+ جدید</button>
                </div>
            </div>
            <div class="card-body">
                <div class="scrollable">
                    <table class="table table-borderless table-striped table-hover">
                        <thead>
                            <tr class="sticky-top">
                                <th>عنوان</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>مشارکت در ساخت</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>مدیریت پیمان</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>پیمان کاری صفر تا صد</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>دستمزدی یا اجرتی</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>خصوصی سازی</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>