@using System.Globalization
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - کلینیک مصالح ساختمانی جلالیان</title>
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fonts/font-awesome/v6.5.2/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/leaflet/css/leaflet.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/leaflet/css/leaflet.custom.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/public.common.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column vh-100" style="background: url('/images/e1b932c2-224a-42a8-841b-c50c32cd80aa.webp'); background-position:center;background-size:cover;">
    @await Html.PartialAsync("_Navbar")
    <main role="main">
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/rest.min.js" asp-append-version="true"></script>
    <script src="~/lib./leaflet/js/leaflet.min.js" asp-append-version="true"></script>
    <script src="~/js/multiple-theme.js" asp-append-version="true"></script>
    <script src="~/js/public.common.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
