@using System.Globalization
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - کلینیک مصالح ساختمانی جلالیان</title>
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fonts/font-awesome/v6.5.2/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/public.common.css" asp-append-version="true" />
</head>
<body class="text-start pb-5">
    @await Html.PartialAsync("_Navbar")
    <main class="h-100" role="main">
        <div class="container-fluid h-100 py-4">
            @RenderBody()
        </div>
    </main>
    <footer class="fixed-bottom bg-body border-top shadow-lg py-2">
        <div class="container-fluid text-center">
            <label class="small text-muted" data-bs-title="امروز" data-bs-placement="top">
                @DateTime.Now.ToString("dd MMMM yyyy", new CultureInfo("fa-IR"))
            </label>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/rest.min.js" asp-append-version="true"></script>
    <script src="~/js/multiple-theme.js" asp-append-version="true"></script>
    <script src="~/js/public.common.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
