@{
    ViewData["Title"] = "ورود";
}
<div class="row h-100">
    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 h-100">
        <h3 class="mb-3">ورود به حساب کاربری</h3>
        <din class="card">
            <div class="card-body">
                <form action="/authentication/signin" method="post">
                    <div>
                        @Html.AntiForgeryToken()
                    </div>
                    <div class="mb-2">
                        <label class="mb-2">نام کاربری</label>
                        <input class="form-control text-left" name="username" dir="ltr" type="text" maxlength="50" />
                    </div>
                    <div class="mb-2">
                        <label class="mb-2">رمز ورود</label>
                        <input class="form-control text-left" name="password" type="password" maxlength="50" dir="ltr" />
                    </div>
                    <div class="d-grid mt-4">
                        <button type="submit" class="btn btn-primary">ورود</button>
                    </div>
                </form>
            </div>
        </din>
    </div>
</div>