@{
    ViewData["Title"] = "داشبورد مدیریت";
}
<div class="mb-4">
    <h2 class="fw-bold"><i class="fa fa-gauge"></i> بررسی اجمالی و آمار</h2>
</div>
<div class="container">
    <div class="projects-report mb-3">
        <h4>پروژه ها</h4>
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="card text-bg-primary mb-3">
                    <div class="card-body text-center">
                        <label class="h2 card-title">73</label>
                        <label>عدد</label>
                    </div>
                    <div class="card-footer"><i class="fa fa-house-building me-1"></i> کل</div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card text-bg-warning mb-3">
                    <div class="card-body text-center">
                        <label class="h2 card-title">68</label>
                        <label>عدد</label>
                    </div>
                    <div class="card-footer"><i class="fa fa-clock-rotate-left me-1"></i> درحال انجام</div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card text-bg-success mb-3">
                    <div class="card-body text-center">
                        <label class="h2 card-title">5</label>
                        <label>عدد</label>
                    </div>
                    <div class="card-footer"><i class="fa fa-check me-1"></i> تکمیل</div>
                </div>
            </div>
        </div>
    </div>
    <div class="contracts-report">
        <h4>قرارداد ها</h4>
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="card bg-success-subtle text-center mb-3">
                    <div class="card-body">
                        <label class="h2 card-title">30</label>
                        <label>%</label>
                    </div>
                    <div class="card-footer">پیمان کاری</div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card bg-info-subtle text-center mb-3">
                    <div class="card-body">
                        <label class="h2 card-title">40</label>
                        <label>%</label>
                    </div>
                    <div class="card-footer">مشارکت</div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card bg-warning-subtle text-center mb-3">
                    <div class="card-body">
                        <label class="h2 card-title">30</label>
                        <label>%</label>
                    </div>
                    <div class="card-footer">دستمزدی یا اجرتی</div>
                </div>
            </div>
        </div>
    </div>
</div>