<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @if (ViewData["Title"] is not null)
        {
            <text>@ViewData["Title"]</text> <text>-</text>
        }
        کلینیک مصالح ساختمانی جلالیان
    </title>
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/public.common.css" asp-append-version="true" />
</head>
<body class="min-vh-100 d-flex flex-column">
    <div class="h-100 container-fluid">
        <main role="main" class="h-100 pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/public.common.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
